
<div class="booyah-box col-xs-10 col-xs-offset-1">
  <h1>Problem Identification Worksheet (PIW) Summary</h1>
  <br>

  <table class="summary-table">
    <tr>
      <th>PIW ID</th>
      <th>Submitted By</th>
      <th>Description</th>
      <th>Entered By</th>
    </tr>
    <% @worksheets.each do |worksheet| %>
      <tr>
        <td><%= link_to worksheet.piw_id, worksheet_path(worksheet) %></td>
        <td><%= worksheet.submitted_by %></td>
        <td><%= worksheet.description %></td>
        <% if worksheet.user.present? %>
          <td><%= worksheet.user.email %></td>
        <% else %>
          <td></td>
        <% end %>
      </tr> 
    <% end %>
  </table>

</div>