
<div class="container">
  <h1>Worksheet Summary</h1>
  <br>

  <table class="summary-table">
    <tr>
      <th>PIW ID</th>
      <th>Submitted By</th>
      <th>Description</th>
    </tr>
    <% @worksheets.each do |worksheet| %>
      <tr>
        <td><%= worksheet.piw_id %></td>
        <td><%= worksheet.submitted_by %></td>
        <td><%= worksheet.description %></td>
      </tr> 
    <% end %>
  </table>

</div>