@import "bootstrap-sprockets";
@import "bootstrap";
@import url(https://fonts.googleapis.com/css?family=Ubuntu);

body {
  background: url('/assets/linen.png');
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 600;
  letter-spacing: -0.3px;
}

.navbar.navbar-inverse {
  background-color: #1F4E78;
  border-radius: 0;
  box-shadow: 0px 1px 3px #2a2a2a;
}

.navbar.navbar-inverse a {
color: #FFFFFF;
}

.nav.navbar-nav a {
  color: #FFFFFF;
}

table {
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
}

th {
  background-color: #286399;
  color: #FFFFFF;
  text-align: center;
}

th, td {
  padding: 15px;
}

h1 {
  text-align: center;
}

.summary-table {
  margin: 0 auto !important;
  float: none !important;
}

.booyah-box {
  -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
  -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
  box-shadow: 1px 1px 2px 0 #d0d0d0;
  background: #fff;
  border: 1px solid #ccc;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  padding: 25px;
}

.clear {
    clear: both;
}