

<div class="booyah-box col-xs-10 col-xs-offset-1">
<h1>Images</h1>
<% @attachments.each do |attachment| %>    
      <div class="row"><%= image_tag attachment.image %></div>
      <div class="row"><%= attachment.caption %></div>
  <% end %>



<br>
<br>




</div>